@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme */
  --background-100: #f8f8f8;
  --background-200: #eeeeee;
  --background-300: #eeeeee;
  --primary-100: #d8d8d8;
  --primary-200: #eeeeee;
  --primary-300: #eeeeee;
  --accent-100: #a8a8a8;
  --accent-200: #eeeeee;
  --text-100: #333333;
  --text-200: #eeeeee;
}

[data-theme="dark"] {
  --background-100: #0d1117;
  --background-200: #161b22;
  --background-300: #161b22;
  --primary-100: #30363d;
  --primary-200: #161b22;
  --primary-300: #161b22;
  --accent-100: #8b949e;
  --accent-200: #161b22;
  --text-100: #c9d1d9;
  --text-200: #161b22;
}

* {
  scroll-behavior: smooth;
}

.wrapper .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
